In [44]:
import numpy as np
import pandas as pd
import scipy.stats as st
from pandas.core.dtypes.common import is_numeric_dtype

data = pd.read_csv("finalData.csv")
data = data.set_index('projectID')
pd.set_option('display.float_format',  '{:,.3f}'.format)
data

,success,Lamount,creator_gender,Lgoal,words,backers_count,serial_entrepreneur,duration,category_art,category_comics,...,category_photography,category_publishing,category_technology,category_theater,month,year,media,sustainability,story,url
projectID,,,,,,,,,,,,,,,,,,,,,
3731940,0,2.307,0,3.778,71,5,0,60.000,0,0,...,0,0,1,0,6,2019,0,0,app go benefit trainer personnel look get fit ...,https://www.kickstarter.com/projects/fitnesspo...
3451605,1,5.067,0,4.000,497,2003,1,14.583,0,0,...,0,0,0,0,6,2019,1,0,even miss kickstarter still get hand papillon ...,https://www.kickstarter.com/projects/kolossalg...
3722583,0,1.447,0,3.778,443,6,0,30.000,0,1,...,0,0,0,0,6,2019,1,0,journey blak blak blak officially entitle blak...,https://www.kickstarter.com/projects/myheart/b...
3745862,1,3.266,1,3.176,474,48,0,39.687,0,0,...,0,0,0,0,6,2019,1,0,isabel jazz folk musical teach empathy metoo s...,https://www.kickstarter.com/projects/annawestb...
3735376,1,3.000,1,3.000,130,17,0,25.990,0,0,...,0,0,0,1,6,2019,0,0,main stage kids head new york young performer ...,https://www.kickstarter.com/projects/mainstage...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378823,1,4.797,0,4.447,837,232,1,30.000,0,0,...,1,0,0,0,5,2022,1,0,book maui mauka makai companion book maui coas...,https://www.kickstarter.com/projects/danielsul...
4394019,1,4.045,0,4.000,167,80,0,26.377,0,0,...,0,0,0,0,5,2022,1,0,myrcene ale co dream mike goergen cy higgins m...,https://www.kickstarter.com/projects/myrceneal...
4385597,1,4.403,0,4.398,138,73,0,14.147,0,0,...,0,0,0,1,5,2022,1,0,firefly theatrical need help build theatre spa...,https://www.kickstarter.com/projects/fireflyth...
4367598,1,3.626,1,3.602,304,94,0,36.538,0,0,...,0,1,0,0,5,2022,1,0,big feelings coloring book come idea recovery ...,https://www.kickstarter.com/projects/bigfeelin...
4381119,1,4.047,1,3.046,208,116,1,8.885,0,0,...,1,0,0,0,5,2022,1,0,rumination n deep consider think something ima...,https://www.kickstarter.com/projects/141766490...

In [45]:
# Table 1
def getCategory(entry):
    for category in entry.index:
        if entry.get(category) == 1:
            return category.split("_")[1]

    return "unknown"


table1 = data.copy()
table1['Category'] = table1.apply(lambda entry: getCategory(entry[8:23]), axis=1)
table1 = table1.rename(columns={"creator_gender": "Female"})
table1 = table1.groupby(['Category', 'Female']).agg({'success': ['size', 'mean', 'std']})
table1.columns = ['Obs', 'Mean', 'SD']
table1.to_csv('Tables/category breakdown.csv')
table1

                     Obs  Mean    SD
Category    Female
art         0        376 0.809 0.394
            1        643 0.865 0.342
comics      0        791 0.934 0.248
            1        147 0.884 0.321
crafts      0         69 0.565 0.499
            1         86 0.512 0.503
dance       0          4 0.750 0.500
            1         13 0.846 0.376
design      0        439 0.945 0.228
            1        168 0.905 0.294
fashion     0        192 0.578 0.495
            1        246 0.809 0.394
film&video  0        511 0.542 0.499
            1        199 0.623 0.486
food        0        303 0.482 0.500
            1        204 0.422 0.495
games       0       1243 0.926 0.262
            1        210 0.900 0.301
journalism  0         41 0.415 0.499
            1         31 0.226 0.425
music       0        474 0.781 0.414
            1        198 0.823 0.382
photography 0         74 0.689 0.466
            1         40 0.675 0.474
publishing  0        531 0.846 0.362
            1        393 0.888 0.316
technology  0        550 0.367 0.483
            1        133 0.308 0.464
theater     0         46 0.630 0.488
            1         33 0.697 0.467

In [46]:
# Table 2
table2 = data.copy()
table2 = table2.rename(columns={"creator_gender": "Female"})
table2 = table2.groupby(['Female']).agg({'success': ['size', 'mean', 'std']})
table2.columns = ['Obs', 'Mean', 'SD']

# maleData = data[data['creator_gender'] == 0]
# maleCI = st.norm.interval(confidence=0.95,
#                           loc=np.mean(maleData['success']),
#                           scale=st.sem(maleData['success']))
# femaleData = data[data['creator_gender'] == 1]
# femaleCI = st.norm.interval(confidence=0.95,
#                             loc=np.mean(femaleData['success']),
#                             scale=st.sem(femaleData['success']))
# table2.insert(2, "95% CI (lower)", [maleCI[0], femaleCI[0]])
# table2.insert(3, "95% CI (upper)", [maleCI[1], femaleCI[1]])

table2.to_csv('Tables/gender breakdown.csv')
table2

         Obs  Mean    SD
Female
0       5644 0.762 0.426
1       2744 0.766 0.424

In [47]:
# Table 3
variableNames = []
means = []
medians = []
minima = []
maxima = []
SDs = []

for variableName in data.columns:
    variableData = data[variableName]
    if is_numeric_dtype(variableData):
        if variableName[0] == "L":
            variableData = 10**variableData
            variableName = variableName.replace("L", "")
        variableNames.append(variableName)
        means.append(np.mean(variableData))
        medians.append(np.median(variableData))
        minima.append(np.min(variableData))
        maxima.append(np.max(variableData))
        SDs.append(np.std(variableData))

variableNames[variableNames.index("creator_gender")] = "female"
table3 = {"Variable": variableNames, "Mean": means, "Median": medians, "Minimum": minima, "Maximum": maxima, "SD": SDs}
table3 = pd.DataFrame.from_dict(table3)
table3 = table3.set_index("Variable")
table3

,Mean,Median,Minimum,Maximum,SD
Variable,,,,,
success,0.763,1.000,0.000,1.000,0.425
amount,"66,149.066","3,838.000",1.000,"272,707,148.204","2,984,093.960"
female,0.327,0.000,0.000,1.000,0.469
goal,"19,854.147","4,000.000",1.000,"14,000,000.000","188,831.801"
words,408.228,305.000,2.000,"2,588.000",362.641
backers_count,345.802,65.000,1.000,"55,024.000","1,595.292"
serial_entrepreneur,0.252,0.000,0.000,1.000,0.434
duration,32.190,30.000,1.000,73.958,12.615
category_art,0.121,0.000,0.000,1.000,0.327
category_comics,0.112,0.000,0.000,1.000,0.315
category_crafts,0.018,0.000,0.000,1.000,0.135
category_dance,0.002,0.000,0.000,1.000,0.045
category_design,0.072,0.000,0.000,1.000,0.259
category_fashion,0.052,0.000,0.000,1.000,0.222
category_film&video,0.085,0.000,0.000,1.000,0.278
category_food,0.060,0.000,0.000,1.000,0.238
category_games,0.173,0.000,0.000,1.000,0.378
category_journalism,0.009,0.000,0.000,1.000,0.092
category_music,0.080,0.000,0.000,1.000,0.271
category_photography,0.014,0.000,0.000,1.000,0.116
category_publishing,0.110,0.000,0.000,1.000,0.313
category_technology,0.081,0.000,0.000,1.000,0.273
category_theater,0.009,0.000,0.000,1.000,0.097
month,6.500,6.500,1.000,12.000,3.452
year,"2,020.417","2,020.000","2,019.000","2,022.000",0.954
media,0.873,1.000,0.000,1.000,0.333
sustainability,0.039,0.000,0.000,1.000,0.194

In [48]:
# Table 4
successData = data[data['success'] == 1]
failureData = data[data['success'] == 0]

variableNames = []

meansSuccess = []
meansFailure = []
mediansSuccess = []
mediansFailure = []

testStatisticValuesMean = []
probabilityValuesMean = []

moodsMedianTestVariables = ['amount', 'goal', 'words', 'backers_count', 'duration', 'month'] # month (yes/no)?
testStatisticValuesMedian = []
probabilityValuesMedian = []

for variableName in data.columns[1:]:
    variableDataSuccess = successData[variableName]
    if is_numeric_dtype(variableDataSuccess):
        variableDataFailure = failureData[variableName]
        if variableName[0] == "L":
            variableDataSuccess = 10**variableDataSuccess
            variableDataFailure = 10**variableDataFailure
            variableName = variableName.replace("L", "")
        variableNames.append(variableName)

        # Compute means and medians
        meansSuccess.append(np.mean(variableDataSuccess))
        meansFailure.append(np.mean(variableDataFailure))
        mediansSuccess.append(np.median(variableDataSuccess))
        mediansFailure.append(np.median(variableDataFailure))

        # Check variance ratio
        successVariance = np.var(variableDataSuccess)
        failureVariance = np.var(variableDataFailure)

        biggerNumber = np.maximum(successVariance, failureVariance)
        smallerNumber = np.minimum(successVariance, failureVariance)

        equalVariance = False
        if biggerNumber / smallerNumber < 4:
            equalVariance = True

        # Perform two sample t-test
        result = st.ttest_ind(a=variableDataSuccess, b=variableDataFailure, equal_var=equalVariance)
        testStatisticValuesMean.append(result[0])
        probabilityValuesMean.append(result[1])

        # Perform Mood's median test
        if variableName in moodsMedianTestVariables:
            result = st.median_test(variableDataSuccess, variableDataFailure)
        else:
            result = ["N/A", "N/A"]
        testStatisticValuesMedian.append(result[0])
        probabilityValuesMedian.append(result[1])


def cleanPValues(pValues):
    cleanPValues_ = []
    for pValue in pValues:
        if pValue != "N/A":
            if pValue < 0.001:
                pValue = "< 0.001"
        cleanPValues_.append(pValue)
    return cleanPValues_


probabilityValuesMean = cleanPValues(probabilityValuesMean)
probabilityValuesMedian = cleanPValues(probabilityValuesMedian)

variableNames[variableNames.index('creator_gender')] = 'female'
table4 = {'Variable': variableNames, 'Success (mean)': meansSuccess, 'Failure (mean)': meansFailure, 't-Value': testStatisticValuesMean, 'p-Value': probabilityValuesMean}
table4 = pd.DataFrame.from_dict(table4)
table4 = table4.set_index('Variable')
table4.to_csv('Tables/univariate analysis (mean).csv')
table4

                      Success (mean)  Failure (mean)  t-Value  p-Value
Variable
amount                    86,187.957       1,467.079    1.985    0.047
female                         0.328           0.324    0.330    0.741
goal                       9,108.673      54,538.632   -5.420  < 0.001
words                        447.126         282.672   17.985  < 0.001
backers_count                448.074          15.687   19.068  < 0.001
serial_entrepreneur            0.324           0.019   46.108  < 0.001
duration                      29.700          40.227  -34.731  < 0.001
category_art                   0.134           0.080    6.466  < 0.001
category_comics                0.136           0.035   12.578  < 0.001
category_crafts                0.013           0.036   -6.760  < 0.001
category_dance                 0.002           0.002    0.583    0.560
category_design                0.089           0.020   14.394  < 0.001
category_fashion               0.048           0.065   -2.819    0.005
category_film&video            0.063           0.156  -13.153  < 0.001
category_food                  0.036           0.139  -17.004  < 0.001
category_games                 0.209           0.057   15.894  < 0.001
category_journalism            0.004           0.024   -5.786  < 0.001
category_music                 0.083           0.070    1.888    0.059
category_photography           0.012           0.018   -2.005    0.045
category_publishing            0.125           0.064    7.621  < 0.001
category_technology            0.038           0.222  -19.089  < 0.001
category_theater               0.008           0.014   -2.212    0.027
month                          6.436           6.708   -3.075    0.002
year                       2,020.451       2,020.305    5.956  < 0.001
media                          0.959           0.597   32.057  < 0.001
sustainability                 0.037           0.046   -1.813    0.070

In [49]:
# Table 4 (continued)
table4 = {'Variable': variableNames, 'Success (median)': mediansSuccess, 'Failure (median)': mediansFailure, 'χ²-Value': testStatisticValuesMedian, 'p-Value': probabilityValuesMedian}
table4 = pd.DataFrame.from_dict(table4)
table4 = table4.set_index('Variable')
table4.to_csv('Tables/univariate analysis (median).csv')
table4

                      Success (median)  Failure (median)  χ²-Value  p-Value
Variable
amount                       6,127.500           171.000 1,737.998  < 0.001
female                           0.000             0.000       N/A      N/A
goal                         3,000.000        10,000.000   490.965  < 0.001
words                          345.000           195.500   373.029  < 0.001
backers_count                  104.000             5.000 2,105.926  < 0.001
serial_entrepreneur              0.000             0.000       N/A      N/A
duration                        30.000            31.039   343.548  < 0.001
category_art                     0.000             0.000       N/A      N/A
category_comics                  0.000             0.000       N/A      N/A
category_crafts                  0.000             0.000       N/A      N/A
category_dance                   0.000             0.000       N/A      N/A
category_design                  0.000             0.000       N/A      N/A
category_fashion                 0.000             0.000       N/A      N/A
category_film&video              0.000             0.000       N/A      N/A
category_food                    0.000             0.000       N/A      N/A
category_games                   0.000             0.000       N/A      N/A
category_journalism              0.000             0.000       N/A      N/A
category_music                   0.000             0.000       N/A      N/A
category_photography             0.000             0.000       N/A      N/A
category_publishing              0.000             0.000       N/A      N/A
category_technology              0.000             0.000       N/A      N/A
category_theater                 0.000             0.000       N/A      N/A
month                            6.000             7.000     8.731    0.003
year                         2,020.000         2,020.000       N/A      N/A
media                            1.000             1.000       N/A      N/A
sustainability                   0.000             0.000       N/A      N/A

In [123]:
liwcData = pd.read_csv('LIWC-22 Results - finalData - LIWC Analysis.csv')
liwcData = liwcData.set_index('projectID')
liwcData = liwcData[data.columns.tolist() + ['money', 'emotion', 'Social', 'Drives']]
liwcData = liwcData.rename(columns={'money': 'business', 'emotion': 'empathic', 'Social': 'social', 'Drives': 'drives'})

for variable in ['words', 'backers_count', 'duration']:
    variableIndex = liwcData.columns.tolist().index(variable)
    liwcData.insert(variableIndex + 1, 'L' + variable, np.log10(liwcData[variable]))

monthIndex = liwcData.columns.tolist().index('month')
monthNames = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
for month in range(1, 13):
    liwcData.insert(monthIndex + month, 'month_' + monthNames[month - 1], (liwcData['month'] == month).replace({True: 1, False: 0}))

yearIndex = liwcData.columns.tolist().index('year')
counter = 1
for year in range(2019, 2023):
    liwcData.insert(yearIndex + counter, 'year_' + str(year), (liwcData['year'] == year).replace({True: 1, False: 0}))
    counter += 1

liwcData = liwcData.drop(columns=['words', 'backers_count', 'duration', 'month', 'year'])

for language in ['business', 'empathic', 'social', 'drives']:
    liwcData[language] = liwcData[language] / 100

liwcData

,success,Lamount,creator_gender,Lgoal,Lwords,Lbackers_count,serial_entrepreneur,Lduration,category_art,category_comics,...,year_2021,year_2022,media,sustainability,story,url,business,empathic,social,drives
projectID,,,,,,,,,,,,,,,,,,,,,
3731940,0,2.307,0,3.778,1.851,0.699,0,1.778,0,0,...,0,0,0,0,app go benefit trainer personnel look get fit ...,https://www.kickstarter.com/projects/fitnesspo...,0.014,0.000,0.085,0.070
3451605,1,5.067,0,4.000,2.696,3.302,1,1.164,0,0,...,0,0,1,0,even miss kickstarter still get hand papillon ...,https://www.kickstarter.com/projects/kolossalg...,0.034,0.026,0.098,0.112
3722583,0,1.447,0,3.778,2.646,0.778,0,1.477,0,1,...,0,0,1,0,journey blak blak blak officially entitle blak...,https://www.kickstarter.com/projects/myheart/b...,0.009,0.007,0.133,0.104
3745862,1,3.266,1,3.176,2.676,1.681,0,1.599,0,0,...,0,0,1,0,isabel jazz folk musical teach empathy metoo s...,https://www.kickstarter.com/projects/annawestb...,0.015,0.019,0.175,0.112
3735376,1,3.000,1,3.000,2.114,1.230,0,1.415,0,0,...,0,0,0,0,main stage kids head new york young performer ...,https://www.kickstarter.com/projects/mainstage...,0.000,0.008,0.162,0.069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378823,1,4.797,0,4.447,2.923,2.365,1,1.477,0,0,...,0,1,1,0,book maui mauka makai companion book maui coas...,https://www.kickstarter.com/projects/danielsul...,0.002,0.019,0.068,0.061
4394019,1,4.045,0,4.000,2.223,1.903,0,1.421,0,0,...,0,1,1,0,myrcene ale co dream mike goergen cy higgins m...,https://www.kickstarter.com/projects/myrceneal...,0.012,0.036,0.096,0.072
4385597,1,4.403,0,4.398,2.140,1.863,0,1.151,0,0,...,0,1,1,0,firefly theatrical need help build theatre spa...,https://www.kickstarter.com/projects/fireflyth...,0.029,0.007,0.080,0.058
4367598,1,3.626,1,3.602,2.483,1.973,0,1.563,0,0,...,0,1,1,0,big feelings coloring book come idea recovery ...,https://www.kickstarter.com/projects/bigfeelin...,0.016,0.043,0.148,0.059
4381119,1,4.047,1,3.046,2.318,2.064,1,0.949,0,0,...,0,1,1,0,rumination n deep consider think something ima...,https://www.kickstarter.com/projects/141766490...,0.005,0.048,0.106,0.072

In [51]:
# Table 5
table5 = {
    'money': ['cash', 'fines', 'invest', 'irs', 'market', 'profit', 'rich', 'spend', 'usd', 'worth'],
    'emotion': ['admire', 'clinical depression', 'envies', 'furious', 'heartbreaking', 'misery', 'not a good idea', 'rage', 'tantrum', 'you\'d love'],
    'social': ['admittedly', 'consoling', 'ex-wife', 'ladies man', 'mob', 'papa', 'stalking', 'transgender', 'village', 'white guy'],
    'drives': ['abuser', 'chat', 'dear', 'denies', 'excelling', 'law', 'mamacita', 'perfection', 'sergeant', 'sultan']
}
table5 = pd.DataFrame.from_dict(table5)
table5.to_csv('Tables/category examples.csv', index=False)
table5

    money              emotion       social      drives
0    cash               admire   admittedly      abuser
1   fines  clinical depression    consoling        chat
2  invest               envies      ex-wife        dear
3     irs              furious   ladies man      denies
4  market        heartbreaking          mob   excelling
5  profit               misery         papa         law
6    rich      not a good idea     stalking    mamacita
7   spend                 rage  transgender  perfection
8     usd              tantrum      village    sergeant
9   worth           you'd love    white guy      sultan

In [52]:
# Table 3 (continued)
for variableName in ['business', 'empathic', 'social', 'drives']:
    variableData = liwcData[variableName]
    table3 = pd.concat([table3, pd.DataFrame({'Mean': np.mean(variableData), 'Median': np.median(variableData), 'Minimum': np.min(variableData), 'Maximum': np.max(variableData), 'SD': np.std(variableData)}, index=[variableName])])

table3.index.name = 'Variable'
table3.to_csv('Tables/descriptive statistics.csv')
table3

,Mean,Median,Minimum,Maximum,SD
Variable,,,,,
success,0.763,1.000,0.000,1.000,0.425
amount,"66,149.066","3,838.000",1.000,"272,707,148.204","2,984,093.960"
female,0.327,0.000,0.000,1.000,0.469
goal,"19,854.147","4,000.000",1.000,"14,000,000.000","188,831.801"
words,408.228,305.000,2.000,"2,588.000",362.641
backers_count,345.802,65.000,1.000,"55,024.000","1,595.292"
serial_entrepreneur,0.252,0.000,0.000,1.000,0.434
duration,32.190,30.000,1.000,73.958,12.615
category_art,0.121,0.000,0.000,1.000,0.327
category_comics,0.112,0.000,0.000,1.000,0.315
category_crafts,0.018,0.000,0.000,1.000,0.135
category_dance,0.002,0.000,0.000,1.000,0.045
category_design,0.072,0.000,0.000,1.000,0.259
category_fashion,0.052,0.000,0.000,1.000,0.222
category_film&video,0.085,0.000,0.000,1.000,0.278
category_food,0.060,0.000,0.000,1.000,0.238
category_games,0.173,0.000,0.000,1.000,0.378
category_journalism,0.009,0.000,0.000,1.000,0.092
category_music,0.080,0.000,0.000,1.000,0.271
category_photography,0.014,0.000,0.000,1.000,0.116
category_publishing,0.110,0.000,0.000,1.000,0.313
category_technology,0.081,0.000,0.000,1.000,0.273
category_theater,0.009,0.000,0.000,1.000,0.097
month,6.500,6.500,1.000,12.000,3.452
year,"2,020.417","2,020.000","2,019.000","2,022.000",0.954
media,0.873,1.000,0.000,1.000,0.333
sustainability,0.039,0.000,0.000,1.000,0.194
business,0.021,0.016,0.000,0.250,0.021
empathic,0.023,0.019,0.000,0.300,0.019
social,0.112,0.107,0.000,0.455,0.049
drives,0.081,0.077,0.000,0.400,0.034

In [53]:
# Table 7
table7 = liwcData.corr()
table7.to_csv('Tables/correlation matrix.csv')
table7

,success,Lamount,creator_gender,Lgoal,Lwords,Lbackers_count,serial_entrepreneur,Lduration,category_art,category_comics,...,year_2019,year_2020,year_2021,year_2022,media,sustainability,business,empathic,social,drives
success,1.000,0.653,0.004,-0.322,0.242,0.671,0.298,-0.306,0.070,0.136,...,-0.053,-0.024,0.048,0.026,0.462,-0.020,-0.139,-0.042,-0.146,-0.074
Lamount,0.653,1.000,-0.051,0.187,0.406,0.911,0.263,-0.147,-0.055,0.058,...,-0.060,-0.021,0.058,0.020,0.465,0.075,-0.155,-0.092,-0.158,-0.061
creator_gender,0.004,-0.051,1.000,-0.091,-0.050,-0.075,-0.085,-0.002,0.241,-0.129,...,-0.018,-0.006,0.029,-0.010,-0.030,0.051,0.104,0.117,0.115,0.038
Lgoal,-0.322,0.187,-0.091,1.000,0.157,0.117,-0.158,0.322,-0.251,-0.103,...,0.027,-0.037,0.025,-0.015,-0.073,0.103,0.026,-0.053,0.099,0.071
Lwords,0.242,0.406,-0.050,0.157,1.000,0.405,0.133,-0.094,-0.063,0.062,...,-0.036,0.003,0.029,-0.003,0.367,0.131,-0.094,-0.142,-0.077,-0.036
Lbackers_count,0.671,0.911,-0.075,0.117,0.405,1.000,0.350,-0.202,-0.058,0.116,...,-0.058,0.014,0.030,0.006,0.454,0.042,-0.155,-0.107,-0.186,-0.072
serial_entrepreneur,0.298,0.263,-0.085,-0.158,0.133,0.350,1.000,-0.312,0.055,0.184,...,-0.062,-0.018,0.025,0.062,0.200,-0.053,-0.063,-0.093,-0.178,-0.080
Lduration,-0.306,-0.147,-0.002,0.322,-0.094,-0.202,-0.312,1.000,-0.087,-0.045,...,0.021,-0.008,0.007,-0.023,-0.199,0.056,0.023,0.030,0.114,0.049
category_art,0.070,-0.055,0.241,-0.251,-0.063,-0.058,0.055,-0.087,1.000,-0.132,...,-0.004,0.000,0.013,-0.013,0.067,-0.033,0.095,0.029,-0.073,0.005
category_comics,0.136,0.058,-0.129,-0.103,0.062,0.116,0.184,-0.045,-0.132,1.000,...,-0.049,-0.026,0.050,0.024,0.114,-0.064,-0.138,-0.026,0.004,-0.063
category_crafts,-0.074,-0.101,0.067,-0.052,-0.051,-0.108,-0.041,0.024,-0.051,-0.049,...,0.002,-0.016,0.006,0.011,-0.041,0.032,0.062,0.023,-0.018,-0.016
category_dance,0.006,-0.006,0.042,-0.002,-0.001,-0.013,0.011,-0.008,-0.017,-0.016,...,0.018,-0.021,0.013,-0.010,-0.007,-0.009,0.005,-0.003,0.041,0.008
category_design,0.112,0.175,-0.030,0.045,0.047,0.160,0.019,0.027,-0.104,-0.099,...,-0.000,0.043,-0.019,-0.032,0.091,0.105,-0.030,-0.054,-0.175,-0.067
category_fashion,-0.031,-0.076,0.117,-0.087,-0.068,-0.072,0.012,-0.025,-0.087,-0.083,...,0.023,0.032,-0.032,-0.026,0.019,0.016,0.050,0.042,-0.072,0.000
category_film&video,-0.142,-0.086,-0.030,0.146,-0.047,-0.153,-0.120,0.111,-0.113,-0.108,...,0.002,-0.052,0.037,0.019,-0.139,-0.032,-0.010,0.063,0.182,0.095
category_food,-0.183,-0.059,0.041,0.160,-0.036,-0.108,-0.124,0.099,-0.094,-0.090,...,0.018,-0.014,-0.002,0.001,-0.109,0.153,0.125,-0.000,-0.007,-0.036
category_games,0.171,0.206,-0.178,-0.035,0.149,0.309,0.176,-0.204,-0.170,-0.162,...,-0.018,0.037,-0.045,0.032,0.138,-0.053,-0.064,-0.115,-0.143,0.010
category_journalism,-0.094,-0.083,0.021,0.028,-0.029,-0.082,-0.048,0.036,-0.035,-0.033,...,0.029,0.030,-0.038,-0.022,-0.108,0.001,0.019,0.016,0.083,0.031
category_music,0.021,-0.028,-0.020,0.028,-0.130,-0.051,-0.087,0.057,-0.110,-0.105,...,0.041,-0.031,-0.007,0.003,-0.083,-0.046,-0.014,0.083,0.082,0.035
category_photography,-0.022,-0.023,0.006,-0.009,-0.004,-0.041,-0.004,-0.020,-0.044,-0.042,...,-0.003,-0.002,0.004,0.000,0.005,0.003,-0.034,0.017,-0.028,-0.033
category_publishing,0.083,0.016,0.074,-0.039,0.057,0.008,-0.048,0.009,-0.131,-0.125,...,-0.037,-0.019,0.041,0.013,-0.002,-0.020,-0.057,0.101,0.204,-0.002
category_technology,-0.286,-0.141,-0.084,0.239,-0.003,-0.175,-0.130,0.150,-0.111,-0.106,...,0.032,0.036,-0.028,-0.048,-0.105,0.023,0.076,-0.116,-0.026,0.022
category_theater,-0.024,-0.028,0.019,0.014,-0.023,-0.050,-0.034,0.012,-0.036,-0.035,...,0.018,-0.009,-0.024,0.025,-0.063,0.006,0.008,0.009,0.067,0.018
month_january,-0.040,-0.059,0.015,-0.036,-0.042,-0.060,0.016,0.016,0.020,-0.022,...,-0.148,-0.000,0.000,0.170,-0.039,-0.021,0.011,0.004,-0.011,-0.000
month_february,0.035,0.019,0.001,-0.044,0.022,0.044,0.023,-0.062,-0.006,-0.014,...,-0.148,0.000,-0.000,0.170,0.031,-0.007,-0.016,0.004,-0.027,-0.030
month_march,0.031,0.018,-0.007,-0.013,0.010,0.024,0.033,-0.024,0.003,0.019,...,-0.148,0.000,0.000,0.170,0.011,0.006,0.002,0.007,-0.004,0.005
month_april,0.017,0.012,-0.027,-0.013,0.007,0.021,0.029,0.006,-0.012,0.001,...,-0.148,0.000,-0.000,0.170,-0.003,0.002,0.013,-0.003,-0.016,-0.015
month_may,0.026,0.039,-0.008,0.010,0.008,0.032,0.015,-0.033,-0.016,0.030,...,-0.148,0.000,-0.000,0.170,0.014,0.006,-0.003,0.007,-0.009,-0.007
month_june,-0.009,-0.012,0.008,-0.016,-0.022,-0.014,-0.037,-0.001,0.001,-0.007,...,0.106,-0.000,-0.000,-0.121,-0.025,-0.005,0.006,-0.000,0.003,0.013
month_july,-0.002,0.012,0.002,0.011,-0.014,0.017,0.007,0.012,0.003,0.008,...,0.106,-0.000,-0.000,-0.121,0.007,-0.016,0.007,-0.008,0.002,-0.009
month_august,-0.001,-0.008,-0.007,0.005,-0.003,-0.015,-0.031,0.026,0.029,-0.002,...,0.106,-0.000,-0.000,-0.121,-0.007,-0.001,0.003,-0.019,0.018,0.012
month_september,-0.007,-0.004,0.011,0.013,0.025,-0.006,-0.013,0.014,-0.001,0.023,...,0.106,-0.000,-0.000,-0.121,0.009,0.004,-0.022,0.003,0.004,-0.005
month_october,0.013,0.013,0.010,0.030,0.020,0.009,0.003,-0.004,-0.017,0.004,...,0.106,-0.000,-0.000,-0.121,0.024,0.017,-0.003,-0.004,-0.006,-0.007
month_november,-0.017,-0.004,0.001,0.019,0.001,-0.019,-0.028,0.009,0.001,-0.015,...,0.106,-0.000,-0.000,-0.121,-0.008,-0.021,-0.014,0.012,0.024,0.009
month_december,-0.045,-0.026,0.000,0.036,-0.011,-0.032,-0.017,0.042,-0.005,-0.025,...,0.106,-0.000,-0.000,-0.121,-0.013,0.035,0.016,-0.003,0.022,0.035
year_2019,-0.053,-0.060,-0.018,0.027,-0.036,-0.058,-0.062,0.021,-0.004,-0.049,...,1.000,-0.347,-0.347,-0.197,-0.039,-0.002,0.033,-0.009,0.025,0.026
year_2020,-0.024,-0.021,-0.006,-0.037,0.003,0.014,-0.018,-0.008,0.000,-0.026,...,-0.347,1.000,-0.500,-0.284,0.004,-0.012,-0.011,-0.019,-0.019,-0.001
year_2021,0.048,0.058,0.029,0.025,0.029,0.030,0.025,0.007,0.013,0.050,...,-0.347,-0.500,1.000,-0.284,0.028,0.016,-0.031,0.017,0.001,-0.003
year_2022,0.026,0.020,-0.010,-0.015,-0.003,0.006,0.062,-0.023,-0.013,0.024,...,-0.197,-0.284,-0.284,1.000,0.001,-0.003,0.019,0.015,-0.004,-0.024
media,0.462,0.465,-0.030,-0.073,0.367,0.454,0.200,-0.199,0.067,0.114,...,-0.039,0.004,0.028,0.001,1.000,0.030,-0.129,-0.090,-0.188,-0.095
sustainability,-0.020,0.075,0.051,0.103,0.131,0.042,-0.053,0.056,-0.033,-0.064,...,-0.002,-0.012,0.016,-0.003,0.030,1.000,0.029,-0.025,-0.014,0.012
business,-0.139,-0.155,0.104,0.026,-0.094,-0.155,-0.063,0.023,0.095,-0.138,...,0.033,-0.011,-0.031,0.019,-0.129,0.029,1.000,-0.069,0.053,0.122
empathic,-0.042,-0.092,0.117,-0.053,-0.142,-0.107,-0.093,0.030,0.029,-0.026,...,-0.009,-0.019,0.017,0.015,-0.090,-0.025,-0.069,1.000,0.262,0.074
social,-0.146,-0.158,0.115,0.099,-0.077,-0.186,-0.178,0.114,-0.073,0.004,...,0.025,-0.019,0.001,-0.004,-0.188,-0.014,0.053,0.262,1.000,0.487
drives,-0.074,-0.061,0.038,0.071,-0.036,-0.072,-0.080,0.049,0.005,-0.063,...,0.026,-0.001,-0.003,-0.024,-0.095,0.012,0.122,0.074,0.487,1.000

In [54]:
# Table 8
maleData = liwcData[liwcData['creator_gender'] == 0]
femaleData = liwcData[liwcData['creator_gender'] == 1]

languages = ['business', 'empathic', 'social', 'drives']
maleMeans = []
femaleMeans = []
tValues = []
pValues = []
for language in languages:
    maleLanguageData = maleData[language]
    femaleLanguageData = femaleData[language]

    # Calculate the means
    maleMeans.append(np.mean(maleLanguageData))
    femaleMeans.append(np.mean(femaleLanguageData))

    # Check for equal variance
    maleVariance = np.var(maleLanguageData)
    femaleVariance = np.var(femaleLanguageData)

    biggerNumber = np.maximum(maleVariance, femaleVariance)
    smallerNumber = np.minimum(maleVariance, femaleVariance)

    equalVariance = False
    if biggerNumber / smallerNumber < 4:
        equalVariance = True

    # Perform two-sample t-test
    result = st.ttest_ind(a=maleLanguageData, b=femaleLanguageData, equal_var=equalVariance)
    tValues.append(result[0])
    if result[1] > 0.001:
        pValues.append(result[1])
    else:
        pValues.append("< 0.001")

table8 = {"Language": languages, "Male (mean)": maleMeans, "Female (mean)": femaleMeans, "t-Value": tValues, "p-Value": pValues}
table8 = pd.DataFrame.from_dict(table8)
table8 = table8.set_index('Language')
table8.to_csv('Tables/t-tests languages.csv')
table8

          Male (mean)  Female (mean)  t-Value  p-Value
Language
business        0.020          0.024   -9.555  < 0.001
empathic        0.021          0.026  -10.774  < 0.001
social          0.108          0.120  -10.638  < 0.001
drives          0.080          0.083   -3.472  < 0.001

In [98]:
import statsmodels.api as sm

independentVariables = liwcData.columns.tolist()
variablesToRemove = ['success', 'Lamount', 'story', 'url', 'business', 'empathic', 'social', 'drives', 'month_january', 'month_march', 'category_art', 'category_publishing', 'Lduration', 'category_crafts', 'month_april', 'category_journalism', 'creator_gender', 'category_technology', 'category_dance', 'month_july', 'month_december', 'month_september', 'month_june']
for variable in variablesToRemove:
    if variable in independentVariables:
        independentVariables.remove(variable)

X = sm.add_constant(liwcData[independentVariables])
y = liwcData['Lamount']

model = sm.OLS(y, X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Lamount   R-squared:                       0.856
Model:                            OLS   Adj. R-squared:                  0.856
Method:                 Least Squares   F-statistic:                     2160.
Date:                Sun, 09 Oct 2022   Prob (F-statistic):               0.00
Time:                        19:49:51   Log-Likelihood:                -4970.8
No. Observations:                8388   AIC:                             9990.
Df Residuals:                    8364   BIC:                         1.016e+04
Df Model:                          23
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    0.4003      0.029     13.602      0.000       0.343       0.458
Lgoal                    0.0857      0.007     12.261      0.000       0.072       0.099
Lwords                   0.0593      0.014      4.334      0.000       0.032       0.086
Lbackers_count           1.2826      0.008    165.429      0.000       1.267       1.298
serial_entrepreneur     -0.0877      0.012     -7.131      0.000      -0.112      -0.064
category_comics         -0.1846      0.017    -10.837      0.000      -0.218      -0.151
category_design          0.0500      0.020      2.476      0.013       0.010       0.090
category_fashion        -0.0461      0.023     -2.038      0.042      -0.090      -0.002
category_film&video      0.1667      0.019      8.882      0.000       0.130       0.204
category_food            0.1240      0.022      5.702      0.000       0.081       0.167
category_games          -0.2262      0.015    -14.992      0.000      -0.256      -0.197
category_music           0.0637      0.019      3.348      0.001       0.026       0.101
category_photography     0.1045      0.042      2.494      0.013       0.022       0.187
category_theater         0.2172      0.050      4.333      0.000       0.119       0.315
month_february          -0.0634      0.018     -3.489      0.000      -0.099      -0.028
month_may                0.0320      0.018      1.770      0.077      -0.003       0.067
month_august             0.0377      0.018      2.106      0.035       0.003       0.073
month_october            0.0323      0.018      1.798      0.072      -0.003       0.067
month_november           0.0689      0.018      3.843      0.000       0.034       0.104
year_2019                0.0532      0.012      4.353      0.000       0.029       0.077
year_2020                0.0463      0.010      4.427      0.000       0.026       0.067
year_2021                0.1342      0.011     12.516      0.000       0.113       0.155
year_2022                0.1666      0.014     12.299      0.000       0.140       0.193
media                    0.2794      0.017     16.467      0.000       0.246       0.313
sustainability           0.0809      0.026      3.163      0.002       0.031       0.131
==============================================================================
Omnibus:                      497.239   Durbin-Watson:                   1.983
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1689.873
Skew:                          -0.233   Prob(JB):                         0.00
Kurtosis:                       5.149   Cond. No.                     7.76e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.43e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""