In [25]:
import pandas as pd

data = pd.read_csv("finalData.csv")
data = data.set_index('projectID')
data

,success,Lamount,creator_gender,Lgoal,words,backers_count,serial_entrepreneur,duration,category_art,category_comics,...,category_photography,category_publishing,category_technology,category_theater,month,year,media,sustainability,story,url
projectID,,,,,,,,,,,,,,,,,,,,,
3731940,0,2.307496,0,3.778151,71,5,0,60.000000,0,0,...,0,0,1,0,6,2019,0,0,app go benefit trainer personnel look get fit ...,https://www.kickstarter.com/projects/fitnesspo...
3451605,1,5.066844,0,4.000000,497,2003,1,14.583148,0,0,...,0,0,0,0,6,2019,1,0,even miss kickstarter still get hand papillon ...,https://www.kickstarter.com/projects/kolossalg...
3722583,0,1.447158,0,3.778151,443,6,0,30.000000,0,1,...,0,0,0,0,6,2019,1,0,journey blak blak blak officially entitle blak...,https://www.kickstarter.com/projects/myheart/b...
3745862,1,3.266232,1,3.176091,474,48,0,39.687488,0,0,...,0,0,0,0,6,2019,1,0,isabel jazz folk musical teach empathy metoo s...,https://www.kickstarter.com/projects/annawestb...
3735376,1,3.000434,1,3.000000,130,17,0,25.989560,0,0,...,0,0,0,1,6,2019,0,0,main stage kids head new york young performer ...,https://www.kickstarter.com/projects/mainstage...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378823,1,4.797053,0,4.447158,837,232,1,30.000000,0,0,...,1,0,0,0,5,2022,1,0,book maui mauka makai companion book maui coas...,https://www.kickstarter.com/projects/danielsul...
4394019,1,4.044657,0,4.000000,167,80,0,26.377384,0,0,...,0,0,0,0,5,2022,1,0,myrcene ale co dream mike goergen cy higgins m...,https://www.kickstarter.com/projects/myrceneal...
4385597,1,4.402519,0,4.397940,138,73,0,14.147211,0,0,...,0,0,0,1,5,2022,1,0,firefly theatrical need help build theatre spa...,https://www.kickstarter.com/projects/fireflyth...
4367598,1,3.625827,1,3.602060,304,94,0,36.537940,0,0,...,0,1,0,0,5,2022,1,0,big feelings coloring book come idea recovery ...,https://www.kickstarter.com/projects/bigfeelin...
4381119,1,4.046651,1,3.045714,208,116,1,8.885069,0,0,...,1,0,0,0,5,2022,1,0,rumination n deep consider think something ima...,https://www.kickstarter.com/projects/141766490...

In [26]:
# Table 1
def getCategory(entry):
    for category in entry.index:
        if entry.get(category) == 1:
            return category.split("_")[1]

    return "unknown"


table1 = data.copy()
table1['Category'] = table1.apply(lambda entry: getCategory(entry[8:23]), axis=1)
table1 = table1.rename(columns={"creator_gender": "Female"})
table1 = table1.groupby(['Category', 'Female']).agg({'success': ['size', 'mean', 'std']})
table1.columns = ['Obs', 'Mean', 'SD']
table1

                     Obs      Mean        SD
Category    Female
art         0        376  0.808511  0.393998
            1        643  0.864697  0.342313
comics      0        791  0.934260  0.247983
            1        147  0.884354  0.320894
crafts      0         69  0.565217  0.499360
            1         86  0.511628  0.502797
dance       0          4  0.750000  0.500000
            1         13  0.846154  0.375534
design      0        439  0.945330  0.227594
            1        168  0.904762  0.294421
fashion     0        192  0.578125  0.495150
            1        246  0.808943  0.393935
film&video  0        511  0.542074  0.498715
            1        199  0.623116  0.485828
food        0        303  0.481848  0.500497
            1        204  0.421569  0.495025
games       0       1243  0.925986  0.261900
            1        210  0.900000  0.300717
journalism  0         41  0.414634  0.498779
            1         31  0.225806  0.425024
music       0        474  0.780591  0.414284
            1        198  0.823232  0.382439
photography 0         74  0.689189  0.465985
            1         40  0.675000  0.474342
publishing  0        531  0.845574  0.361697
            1        393  0.888041  0.315718
technology  0        550  0.367273  0.482501
            1        133  0.308271  0.463525
theater     0         46  0.630435  0.488021
            1         33  0.696970  0.466694