In [31]:
import numpy as np
import pandas as pd
import scipy.stats as st
from pandas.core.dtypes.common import is_numeric_dtype

data = pd.read_csv("finalData.csv")
data = data.set_index('projectID')
pd.set_option('display.float_format',  '{:,.3f}'.format)
data

,success,Lamount,creator_gender,Lgoal,words,backers_count,serial_entrepreneur,duration,category_art,category_comics,...,category_photography,category_publishing,category_technology,category_theater,month,year,media,sustainability,story,url
projectID,,,,,,,,,,,,,,,,,,,,,
3731940,0,2.307,0,3.778,71,5,0,60.000,0,0,...,0,0,1,0,6,2019,0,0,app go benefit trainer personnel look get fit ...,https://www.kickstarter.com/projects/fitnesspo...
3451605,1,5.067,0,4.000,497,2003,1,14.583,0,0,...,0,0,0,0,6,2019,1,0,even miss kickstarter still get hand papillon ...,https://www.kickstarter.com/projects/kolossalg...
3722583,0,1.447,0,3.778,443,6,0,30.000,0,1,...,0,0,0,0,6,2019,1,0,journey blak blak blak officially entitle blak...,https://www.kickstarter.com/projects/myheart/b...
3745862,1,3.266,1,3.176,474,48,0,39.687,0,0,...,0,0,0,0,6,2019,1,0,isabel jazz folk musical teach empathy metoo s...,https://www.kickstarter.com/projects/annawestb...
3735376,1,3.000,1,3.000,130,17,0,25.990,0,0,...,0,0,0,1,6,2019,0,0,main stage kids head new york young performer ...,https://www.kickstarter.com/projects/mainstage...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378823,1,4.797,0,4.447,837,232,1,30.000,0,0,...,1,0,0,0,5,2022,1,0,book maui mauka makai companion book maui coas...,https://www.kickstarter.com/projects/danielsul...
4394019,1,4.045,0,4.000,167,80,0,26.377,0,0,...,0,0,0,0,5,2022,1,0,myrcene ale co dream mike goergen cy higgins m...,https://www.kickstarter.com/projects/myrceneal...
4385597,1,4.403,0,4.398,138,73,0,14.147,0,0,...,0,0,0,1,5,2022,1,0,firefly theatrical need help build theatre spa...,https://www.kickstarter.com/projects/fireflyth...
4367598,1,3.626,1,3.602,304,94,0,36.538,0,0,...,0,1,0,0,5,2022,1,0,big feelings coloring book come idea recovery ...,https://www.kickstarter.com/projects/bigfeelin...
4381119,1,4.047,1,3.046,208,116,1,8.885,0,0,...,1,0,0,0,5,2022,1,0,rumination n deep consider think something ima...,https://www.kickstarter.com/projects/141766490...

In [32]:
# Table 1
def getCategory(entry):
    for category in entry.index:
        if entry.get(category) == 1:
            return category.split("_")[1]

    return "unknown"


table1 = data.copy()
table1['Category'] = table1.apply(lambda entry: getCategory(entry[8:23]), axis=1)
table1 = table1.rename(columns={"creator_gender": "Female"})
table1 = table1.groupby(['Category', 'Female']).agg({'success': ['size', 'mean', 'std']})
table1.columns = ['Obs', 'Mean', 'SD']
table1

                     Obs  Mean    SD
Category    Female
art         0        376 0.809 0.394
            1        643 0.865 0.342
comics      0        791 0.934 0.248
            1        147 0.884 0.321
crafts      0         69 0.565 0.499
            1         86 0.512 0.503
dance       0          4 0.750 0.500
            1         13 0.846 0.376
design      0        439 0.945 0.228
            1        168 0.905 0.294
fashion     0        192 0.578 0.495
            1        246 0.809 0.394
film&video  0        511 0.542 0.499
            1        199 0.623 0.486
food        0        303 0.482 0.500
            1        204 0.422 0.495
games       0       1243 0.926 0.262
            1        210 0.900 0.301
journalism  0         41 0.415 0.499
            1         31 0.226 0.425
music       0        474 0.781 0.414
            1        198 0.823 0.382
photography 0         74 0.689 0.466
            1         40 0.675 0.474
publishing  0        531 0.846 0.362
            1        393 0.888 0.316
technology  0        550 0.367 0.483
            1        133 0.308 0.464
theater     0         46 0.630 0.488
            1         33 0.697 0.467

In [33]:
# Table 2
table2 = data.copy()
table2 = table2.rename(columns={"creator_gender": "Female"})
table2 = table2.groupby(['Female']).agg({'success': ['size', 'mean', 'std']})
table2.columns = ['Obs', 'Mean', 'SD']

# maleData = data[data['creator_gender'] == 0]
# maleCI = st.norm.interval(confidence=0.95,
#                           loc=np.mean(maleData['success']),
#                           scale=st.sem(maleData['success']))
# femaleData = data[data['creator_gender'] == 1]
# femaleCI = st.norm.interval(confidence=0.95,
#                             loc=np.mean(femaleData['success']),
#                             scale=st.sem(femaleData['success']))
# table2.insert(2, "95% CI (lower)", [maleCI[0], femaleCI[0]])
# table2.insert(3, "95% CI (upper)", [maleCI[1], femaleCI[1]])

table2

         Obs  Mean    SD
Female
0       5644 0.762 0.426
1       2744 0.766 0.424

In [34]:
# Table 3
variableNames = []
means = []
medians = []
minima = []
maxima = []
SDs = []

for variableName in data.columns:
    variableData = data[variableName]
    if is_numeric_dtype(variableData):
        if variableName[0] == "L":
            variableData = 10**variableData
            variableName = variableName.replace("L", "")
        variableNames.append(variableName)
        means.append(np.mean(variableData))
        medians.append(np.median(variableData))
        minima.append(np.min(variableData))
        maxima.append(np.max(variableData))
        SDs.append(np.std(variableData))

variableNames[variableNames.index("creator_gender")] = "female"
table3 = {"Variable": variableNames, "Mean": means, "Median": medians, "Minimum": minima, "Maximum": maxima, "SD": SDs}
table3 = pd.DataFrame.from_dict(table3)
table3 = table3.set_index("Variable")
table3

,Mean,Median,Minimum,Maximum,SD
Variable,,,,,
success,0.763,1.000,0.000,1.000,0.425
amount,"66,149.066","3,838.000",1.000,"272,707,148.204","2,984,093.960"
female,0.327,0.000,0.000,1.000,0.469
goal,"19,854.147","4,000.000",1.000,"14,000,000.000","188,831.801"
words,408.228,305.000,2.000,"2,588.000",362.641
backers_count,345.802,65.000,1.000,"55,024.000","1,595.292"
serial_entrepreneur,0.252,0.000,0.000,1.000,0.434
duration,32.190,30.000,1.000,73.958,12.615
category_art,0.121,0.000,0.000,1.000,0.327
category_comics,0.112,0.000,0.000,1.000,0.315
category_crafts,0.018,0.000,0.000,1.000,0.135
category_dance,0.002,0.000,0.000,1.000,0.045
category_design,0.072,0.000,0.000,1.000,0.259
category_fashion,0.052,0.000,0.000,1.000,0.222
category_film&video,0.085,0.000,0.000,1.000,0.278
category_food,0.060,0.000,0.000,1.000,0.238
category_games,0.173,0.000,0.000,1.000,0.378
category_journalism,0.009,0.000,0.000,1.000,0.092
category_music,0.080,0.000,0.000,1.000,0.271
category_photography,0.014,0.000,0.000,1.000,0.116
category_publishing,0.110,0.000,0.000,1.000,0.313
category_technology,0.081,0.000,0.000,1.000,0.273
category_theater,0.009,0.000,0.000,1.000,0.097
month,6.500,6.500,1.000,12.000,3.452
year,"2,020.417","2,020.000","2,019.000","2,022.000",0.954
media,0.873,1.000,0.000,1.000,0.333
sustainability,0.039,0.000,0.000,1.000,0.194

In [35]:
# Table 4
successData = data[data['success'] == 1]
failureData = data[data['success'] == 0]

variableNames = []

meansSuccess = []
meansFailure = []
mediansSuccess = []
mediansFailure = []

testStatisticValuesMean = []
probabilityValuesMean = []

moodsMedianTestVariables = ['amount', 'goal', 'words', 'backers_count', 'duration', 'month'] # month (yes/no)?
testStatisticValuesMedian = []
probabilityValuesMedian = []

for variableName in data.columns[1:]:
    variableDataSuccess = successData[variableName]
    if is_numeric_dtype(variableDataSuccess):
        variableDataFailure = failureData[variableName]
        if variableName[0] == "L":
            variableDataSuccess = 10**variableDataSuccess
            variableDataFailure = 10**variableDataFailure
            variableName = variableName.replace("L", "")
        variableNames.append(variableName)

        # Compute means and medians
        meansSuccess.append(np.mean(variableDataSuccess))
        meansFailure.append(np.mean(variableDataFailure))
        mediansSuccess.append(np.median(variableDataSuccess))
        mediansFailure.append(np.median(variableDataFailure))

        # Check variance ratio
        successVariance = np.var(variableDataSuccess)
        failureVariance = np.var(variableDataFailure)

        biggerNumber = np.maximum(successVariance, failureVariance)
        smallerNumber = np.minimum(successVariance, failureVariance)

        equalVariance = False
        if biggerNumber / smallerNumber < 4:
            equalVariance = True

        # Perform two sample t-test
        result = st.ttest_ind(a=variableDataSuccess, b=variableDataFailure, equal_var=equalVariance)
        testStatisticValuesMean.append(result[0])
        probabilityValuesMean.append(result[1])

        # Perform Mood's median test
        if variableName in moodsMedianTestVariables:
            result = st.median_test(variableDataSuccess, variableDataFailure)
        else:
            result = ["N/A", "N/A"]
        testStatisticValuesMedian.append(result[0])
        probabilityValuesMedian.append(result[1])


def cleanPValues(pValues):
    cleanPValues_ = []
    for pValue in pValues:
        if pValue != "N/A":
            if pValue < 0.001:
                pValue = "< 0.001"
        cleanPValues_.append(pValue)
    return cleanPValues_


probabilityValuesMean = cleanPValues(probabilityValuesMean)
probabilityValuesMedian = cleanPValues(probabilityValuesMedian)

variableNames[variableNames.index('creator_gender')] = 'female'
table4 = {'Variable': variableNames, 'Success (mean)': meansSuccess, 'Failure (mean)': meansFailure, 't-Value': testStatisticValuesMean, 'p-Value': probabilityValuesMean}
table4 = pd.DataFrame.from_dict(table4)
table4 = table4.set_index('Variable')
table4

                      Success (mean)  Failure (mean)  t-Value  p-Value
Variable
amount                    86,187.957       1,467.079    1.985    0.047
female                         0.328           0.324    0.330    0.741
goal                       9,108.673      54,538.632   -5.420  < 0.001
words                        447.126         282.672   17.985  < 0.001
backers_count                448.074          15.687   19.068  < 0.001
serial_entrepreneur            0.324           0.019   46.108  < 0.001
duration                      29.700          40.227  -34.731  < 0.001
category_art                   0.134           0.080    6.466  < 0.001
category_comics                0.136           0.035   12.578  < 0.001
category_crafts                0.013           0.036   -6.760  < 0.001
category_dance                 0.002           0.002    0.583    0.560
category_design                0.089           0.020   14.394  < 0.001
category_fashion               0.048           0.065   -2.819    0.005
category_film&video            0.063           0.156  -13.153  < 0.001
category_food                  0.036           0.139  -17.004  < 0.001
category_games                 0.209           0.057   15.894  < 0.001
category_journalism            0.004           0.024   -5.786  < 0.001
category_music                 0.083           0.070    1.888    0.059
category_photography           0.012           0.018   -2.005    0.045
category_publishing            0.125           0.064    7.621  < 0.001
category_technology            0.038           0.222  -19.089  < 0.001
category_theater               0.008           0.014   -2.212    0.027
month                          6.436           6.708   -3.075    0.002
year                       2,020.451       2,020.305    5.956  < 0.001
media                          0.959           0.597   32.057  < 0.001
sustainability                 0.037           0.046   -1.813    0.070

In [36]:
# Table 4 (continued)
table4 = {'Variable': variableNames, 'Success (median)': mediansSuccess, 'Failure (median)': mediansFailure, 'χ²-Value': testStatisticValuesMedian, 'p-Value': probabilityValuesMedian}
table4 = pd.DataFrame.from_dict(table4)
table4 = table4.set_index('Variable')
table4

                      Success (median)  Failure (median)  χ²-Value  p-Value
Variable
amount                       6,127.500           171.000 1,737.998  < 0.001
female                           0.000             0.000       N/A      N/A
goal                         3,000.000        10,000.000   490.965  < 0.001
words                          345.000           195.500   373.029  < 0.001
backers_count                  104.000             5.000 2,105.926  < 0.001
serial_entrepreneur              0.000             0.000       N/A      N/A
duration                        30.000            31.039   343.548  < 0.001
category_art                     0.000             0.000       N/A      N/A
category_comics                  0.000             0.000       N/A      N/A
category_crafts                  0.000             0.000       N/A      N/A
category_dance                   0.000             0.000       N/A      N/A
category_design                  0.000             0.000       N/A      N/A
category_fashion                 0.000             0.000       N/A      N/A
category_film&video              0.000             0.000       N/A      N/A
category_food                    0.000             0.000       N/A      N/A
category_games                   0.000             0.000       N/A      N/A
category_journalism              0.000             0.000       N/A      N/A
category_music                   0.000             0.000       N/A      N/A
category_photography             0.000             0.000       N/A      N/A
category_publishing              0.000             0.000       N/A      N/A
category_technology              0.000             0.000       N/A      N/A
category_theater                 0.000             0.000       N/A      N/A
month                            6.000             7.000     8.731    0.003
year                         2,020.000         2,020.000       N/A      N/A
media                            1.000             1.000       N/A      N/A
sustainability                   0.000             0.000       N/A      N/A

In [37]:
liwcData = pd.read_csv('LIWC-22 Results - finalData - LIWC Analysis.csv')
liwcData = liwcData.set_index('projectID')
liwcData = liwcData[data.columns.tolist() + ['money', 'Conversation', 'emo_pos']]
liwcData = liwcData.rename(columns={'money': 'business', 'Conversation': 'story-telling', 'emo_pos': 'empathic'})
liwcData

,success,Lamount,creator_gender,Lgoal,words,backers_count,serial_entrepreneur,duration,category_art,category_comics,...,category_theater,month,year,media,sustainability,story,url,business,story-telling,empathic
projectID,,,,,,,,,,,,,,,,,,,,,
3731940,0,2.307,0,3.778,71,5,0,60.000,0,0,...,0,6,2019,0,0,app go benefit trainer personnel look get fit ...,https://www.kickstarter.com/projects/fitnesspo...,1.408,0.000,0.000
3451605,1,5.067,0,4.000,497,2003,1,14.583,0,0,...,0,6,2019,1,0,even miss kickstarter still get hand papillon ...,https://www.kickstarter.com/projects/kolossalg...,3.414,0.402,1.807
3722583,0,1.447,0,3.778,443,6,0,30.000,0,1,...,0,6,2019,1,0,journey blak blak blak officially entitle blak...,https://www.kickstarter.com/projects/myheart/b...,0.903,0.451,0.677
3745862,1,3.266,1,3.176,474,48,0,39.687,0,0,...,0,6,2019,1,0,isabel jazz folk musical teach empathy metoo s...,https://www.kickstarter.com/projects/annawestb...,1.477,0.000,0.211
3735376,1,3.000,1,3.000,130,17,0,25.990,0,0,...,1,6,2019,0,0,main stage kids head new york young performer ...,https://www.kickstarter.com/projects/mainstage...,0.000,0.000,0.769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378823,1,4.797,0,4.447,837,232,1,30.000,0,0,...,0,5,2022,1,0,book maui mauka makai companion book maui coas...,https://www.kickstarter.com/projects/danielsul...,0.239,0.597,1.673
4394019,1,4.045,0,4.000,167,80,0,26.377,0,0,...,0,5,2022,1,0,myrcene ale co dream mike goergen cy higgins m...,https://www.kickstarter.com/projects/myrceneal...,1.198,0.599,3.593
4385597,1,4.403,0,4.398,138,73,0,14.147,0,0,...,1,5,2022,1,0,firefly theatrical need help build theatre spa...,https://www.kickstarter.com/projects/fireflyth...,2.899,0.725,0.725
4367598,1,3.626,1,3.602,304,94,0,36.538,0,0,...,0,5,2022,1,0,big feelings coloring book come idea recovery ...,https://www.kickstarter.com/projects/bigfeelin...,1.645,1.316,2.632
4381119,1,4.047,1,3.046,208,116,1,8.885,0,0,...,0,5,2022,1,0,rumination n deep consider think something ima...,https://www.kickstarter.com/projects/141766490...,0.481,1.442,4.808

In [38]:
# Table 5
table5 = {
    'business': ['cash', 'fines', 'irs', 'profit', 'rich', 'spend', 'usd', 'worth'],
    'story-telling': ['aye', 'bruh', '', '', '', '', '', ''],
    'empathic': ['amazing', 'calm', 'enjoyable', 'fond', 'haha', 'she\'d like', 'thankful', 'yippee']
}
table5 = pd.DataFrame.from_dict(table5)
table5

  business story-telling    empathic
0     cash           aye     amazing
1    fines          bruh        calm
2      irs                 enjoyable
3   profit                      fond
4     rich                      haha
5    spend                she'd like
6      usd                  thankful
7    worth                    yippee

In [39]:
# Table 6
table6 = pd.DataFrame()

for variableName in ['business', 'story-telling', 'empathic']:
    variableData = liwcData[variableName]
    table6 = pd.concat([table6, pd.DataFrame({'Mean': np.mean(variableData), 'Median': np.median(variableData), 'Minimum': np.min(variableData), 'Maximum': np.max(variableData), 'SD': np.std(variableData)}, index=[variableName])])

table6

               Mean  Median  Minimum  Maximum    SD
business      2.130   1.582    0.000   25.000 2.105
story-telling 0.655   0.426    0.000   24.645 0.892
empathic      1.723   1.381    0.000   20.000 1.591

In [40]:
# Table 7
table7 = liwcData.corr()
table7 = table7[-3:]
table7

,success,Lamount,creator_gender,Lgoal,words,backers_count,serial_entrepreneur,duration,category_art,category_comics,...,category_publishing,category_technology,category_theater,month,year,media,sustainability,business,story-telling,empathic
business,-0.139,-0.155,0.104,0.026,-0.097,-0.020,-0.063,0.035,0.095,-0.138,...,-0.057,0.076,0.008,-0.005,-0.015,-0.129,0.029,1.000,0.024,-0.017
story-telling,0.014,0.054,-0.021,0.053,-0.013,0.005,-0.024,-0.015,-0.012,-0.050,...,-0.042,0.008,0.006,0.005,0.004,0.030,0.006,0.024,1.000,0.060
empathic,-0.042,-0.088,0.142,-0.063,-0.148,-0.070,-0.102,0.031,0.082,-0.087,...,0.074,-0.112,0.005,0.004,-0.003,-0.080,-0.010,-0.017,0.060,1.000